@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

// COLOR
$purple: #391EFF;
$green: #A1F76D;
$white: #FFFFFF;

//MARGINS & PADDINGS

$s-sm: 10px;
$s-md: 20px;
$s-lg: 30px;

$hHeader: 50px;
//FONTS

@font-face {
    font-family: NeueMachina;
    src: url('../../assets/fonts/Neue-Machina-Font-Family/Neue Machina - Free for Personal Use/NeueMachina-Regular.otf');
    font-weight: bold;
  }

$font-normal: 'Mulish', sans-serif;
$font-title: 'NeueMachina';

$font-size-xxs: 0.35rem;
$font-size-xs: 0.5rem;
$font-size-s: 0.75rem;
$font-size-normal: 1rem;
$font-size-l: 2rem;
$font-size-xl: 5rem;
$font-size-xxl: 11rem;